:root {
  --background-color: #ffffff;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-btn-color: #ffffff;
  --background-btn-color: #2196f3;
  --accent-bnt-color: #188ce8;
  --background-main-color: #2f303a;
  --main-title-color: #ffffff;
  --section-team-color: #f5f4fa;
  --footer-tel-color: #d9d9d9;
  --border-portfolio-color: #eeeeee;
  --border-header-color: #ececec;
  --outline-color: tomato;
}
body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header {
  border: 1px solid var(--border-header-color);
  background-color: var(--background-color);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid var(--outline-color);
}

.header-web {
  padding: 24px 0;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.header-studio {
  padding: 24px 0;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.page-studia {
  display: flex;
  align-items: center;
}
.page-header {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  margin-left: 93px;
}
.header-list .list-item {
  margin-right: 50px;
}
.header-list .list-item:last-child {
  margin-right: 0;
}
.header-item {
  display: block;
  margin-left: auto;
  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.header-item.current,
.header-item:hover,
.header-item:focus,
.header-email:hover,
.header-email:focus,
.header-tel:hover,
.header-tel:focus,
.footer-email:hover,
.footer-email:focus,
.tel:hover,
.tel:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}
.header-nav {
  display: flex;
  margin-left: auto;
}
.header-nav .nav + .nav {
  margin-left: 50px;
}

.header-email,
.header-tel {
  padding: 32px 0;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.main {
  background-color: var(--background-main-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.footer {
  padding: 60px 0;
  background-color: var(--background-main-color);
}

.main .container {
  width: 696px;
}
.main-title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}
.main-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 32px;

  background: var(--background-btn-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-btn-color);
  border: 0;
  cursor: pointer;
}
.main-btn:hover,
.main-btn:focus {
  background-color: var(--accent-bnt-color);
}

/* секции*/
.features {
  padding: 94px 0;
}
.work {
  padding-bottom: 94px;
}

.item-subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.special {
  display: flex;
  margin: -15px;
}
.section {
  display: flex;
  flex-wrap: wrap;
}
.section-item {
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.section-item:not(:last-child) {
  margin-right: 30px;
}

.section-list {
  margin: 15px;
  flex-basis: calc(100% / 4 - 30px);
}
.section-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.section-team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--section-team-color);
}

.title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.page-title {
  padding-top: 0;
}
.photo {
  display: flex;
}
.photo-item {
  margin-right: 30px;
}
.photo-item:last-child {
  margin: 0;
}

.worker {
  padding: 30px 0;
}
.title-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.title-work {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-tel-color);
}
/* button potfolio*/

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  color: var(--title-text-color);
}

.portfolio-btn {
  padding: 6px 22px;
  background-color: var(--section-team-color);
  border: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: var(--background-btn-color);
  color: var(--primary-btn-color);
}
.portfolio-btn.primary {
  background-color: var(--background-btn-color);
  color: var(--primary-btn-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio-list .button-item {
  margin-right: 8px;
}
.portfolio-list .button-item:last-child {
  margin: 0;
}
.card {
  display: flex;
  flex-wrap: wrap;
}
.page-container {
  padding-left: 15px;
  padding-right: 15px;
}
.card-item {
  flex-basis: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.card-item:nth-child(3n) {
  margin-right: 0;
}
.card-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.card-subtitle {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.card-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.page-card {
  padding: 20px 24px;
  background: var(--primary-btn-color);
  border: 1px solid var(--border-portfolio-color);
}
/*footer*/
.footer-web {
  display: block;
  margin-bottom: 20px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.footer-studio {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}

.footer-address {
  display: inline-block;
  width: 330px;
}
.footer-text {
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.footer-email,
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-item {
  margin-bottom: 9px;
}
.footer-item:last-child {
  margin-bottom: 0;
}
